
.App-header {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.content {
  text-align: justify;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.brews_step_text {
  min-height: 350px;
}

.brews_step_text img {
  margin: auto;
  display: block;
  padding: 20px;
  width: 40%;
  height: 40%;

}

.brews_step_text label {
  text-align: right;
}

.brews_step_text input {
  margin-bottom:20px;
  text-align: center;
}

.navigation {
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  text-align: center;

}

.navigation button {
  margin: 10px;
  padding: 10px;
  background-image: url(./assets/arrow.png);
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: 50%;
  background-color: white;
  height: 35px;
  width: 100px;
  border: none;
}

.navigation button.prev {
  background-image: url(./assets/arrow-prev.png);
}

.App-footer {
  margin: 10px; 
  padding: 10px;
  background-color: white;
}

.App-footer .logo {
  height: 25px;
  position: absolute;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.container {
  max-width: 500px;
  min-width: 375px;
}

.progressbar .progress {
  margin: 10px;
  padding: 10px;
}

.timer {
  padding:20px;
}

/* Sets the containers height and width */
.base-timer {
  position:relative;
  display:block;
  margin-left:auto;
  margin-right:auto;
  height: 100px;
  width: 100px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__label {

  position: absolute;
  top: 0px;

  /* Size should match the parent container */
  height: 100px;
  width: 100px;
  /* Create a flexible box that centers content vertically and horizontally */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Sort of an arbitrary number; adjust to your liking */
  font-size: 28px;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 7px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: rgb(12, 110, 253);
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

.timer button {
  border: none;
  background-color: white;
}

.timer button img {
  height: 100px;
  width: 100px;
}
